.f13 {
  font-size: 13px; }

.f15 {
  font-size: 15px; }

.f16 {
  font-size: 16px; }

.f17 {
  font-size: 17px; }

.f20 {
  font-size: 20px; }

.f24 {
  font-size: 24px; }

.f32 {
  font-size: 32px; }

.f40 {
  font-size: 40px; }

.f50 {
  font-size: 50px; }

.f60 {
  font-size: 60px; }

.f90 {
  font-size: 90px; }

.one {
  margin-top: 240px;
  background-color: #fbfbfd; }

.fresh {
  background-image: url(../../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position-x: 340px;
  background-position-y: -90px;
  height: 800px;
  background-color: #fbfbfd; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: bold; }

p {
  font-family: 'Raleway', sans-serif;
  font-size: 17px; }

.but {
  border-radius: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #ff6033;
  box-shadow: 2px 10px 9px; }

.links {
  background-color: #fbfbfd; }

.navigation {
  background-color: #fbfbfd; }

a {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #262626;
  margin: 15px;
  border: 3px solid #fbfbfd; }

img {
  background-color: #fbfbfd;
  border: 3px solid #fbfbfd; }

a:hover {
  border-top: 3px solid #ff6033; }

.aboutUs {
  background-image: url(../../images/cup.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 10px;
  height: 620px;
  background-color: #00b0b0; }

h1.about {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 32px; }

p.about {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: white; }

.two {
  background-color: #00b0b0;
  width: 450px;
  position: relative;
  left: 660px;
  margin-top: 150px; }

.ourServices {
  padding-top: 45px;
  padding-left: 150px;
  background-image: url(../../images/tomato.png);
  background-repeat: no-repeat;
  background-position-x: 580px;
  background-position-y: 40px;
  height: 600px;
  background-color: #70bfff; }

h1.service {
  width: 600px;
  position: relative;
  right: 130px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 32px; }

.three {
  width: 600px;
  position: relative;
  top: 100px;
  left: 500px;
  margin-top: 150px; }

div.box {
  box-shadow: 2px 10px 9px;
  background-color: white;
  height: 100px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #262626;
  text-align: center;
  padding-top: 30px;
  position: relative;
  top: -270px; }

div.box1 {
  background-image: url(../../images/cart.png);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 25px;
  border-left: 1px solid silver;
  box-shadow: 2px 10px 9px;
  background-color: white;
  height: 100px;
  margin-bottom: 16px;
  position: relative;
  top: -270px; }

div.box2 {
  background-image: url(../../images/quality.png);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 25px;
  border-left: 1px solid silver;
  box-shadow: 2px 10px 9px;
  background-color: white;
  height: 100px;
  margin-bottom: 16px;
  position: relative;
  top: -270px; }

div.box3 {
  background-image: url(../../images/world.png);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 25px;
  border-left: 1px solid silver;
  box-shadow: 2px 10px 9px;
  background-color: white;
  height: 100px;
  margin-bottom: 16px;
  position: relative;
  top: -270px; }

div.box4 {
  background-image: url(../../images/carrot.png);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 25px;
  border-left: 1px solid silver;
  box-shadow: 2px 10px 9px;
  background-color: white;
  height: 100px;
  margin-bottom: 16px;
  position: relative;
  top: -270px; }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }
