
//.f3 { font-size: 3px; }
.f13 { font-size: 13px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
.f32 { font-size: 32px; }
.f40 { font-size: 40px; }
.f50 { font-size: 50px; }
.f60 { font-size: 60px; }
.f90 { font-size: 90px; }