
//font-family i font-weigth
$fReleway: 'Raleway', sans-serif;
$Pacifico: 'Pacifico', cursive;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//font colors
$standard-font-color: rgb(38, 38, 38);
$white-font-color: rgb(255, 255, 255);
$alt-font-color: rgb(170, 170, 170);
$underl-font-color: rgb(185, 185, 185);
$special-font-color:rgb(247, 43, 59);

//backgrounds
$sec-bg-color: rgb(255, 96, 51);
$sec-about-bg-color: rgb(0, 176, 176);
$sec-service-bg-color: rgb(112, 191, 255);
$sec-gallery-bg-color:rgb(255, 233, 47);
$sec-subsc-bg-color:rgb(150, 185, 44);
$sec-blog-bg-gallery:rgb(176, 124, 247);
$sec-data-bg-color:rgb(86, 92, 101);
$sec-cont-form-bg-color:rgb(111, 212, 208);
$sec-choose-form-color:rgb(53, 91, 130);
$but-blog-bg-color:rgb(247, 43, 59);
$but-gallery-color:rgb(85, 133, 162);
$bord-color: rgb(0, 0, 2);





