.foot-1 {
    background-color: rgb(38, 38, 38);
    height: 90px;
    border-spacing: 0px;
 
    margin: -1px;
  }

  .foot-p { 
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgb(185, 185, 185);
    font-size: 16px;
    text-align: center;

}

.foot-p2 {
    font-family: 'Pacifico', cursive;
    color: rgb(185, 185, 185);
    text-align: center;
    font-size: 24px;


}

b {
    color: rgb(247, 43, 59);
}