.col-4 {
    flex: none;
}

.gallery {

    height: 100%;
    background-color: rgb(255, 233, 47);

}

p.gall {
    padding-top: 5px;
    width: 1100px;
    color: rgb(38, 38, 38);
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    text-align: center;
    margin-bottom: 32px;
}

p.text {
    padding-top: 10px;
    position: relative;
    left: 300px;
    width: 600px;
    color: rgb(38, 38, 38);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-bottom: 48px;
}

table {
    width: 1100px;
    height: 900px;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 16px;

}

.pic1 {


    height: 55%;
    margin: 16px;
    border: 1px solid black;
    padding: 16px;
    background-image: url(../../images/peach.png);
    background-repeat: no-repeat;
    
}

td#one {
    width: 60%;
}

.pic2 {

    margin: 16px;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    padding: 16px;
    background-image: url(../../images/sub-bg.jpg);
    background-repeat: no-repeat;

}

.pic3 {

    margin: 16px;
    height: 30%;
    border: 1px solid black;
    padding: 16px;
    background-image: url(../../images/blackberries.png);
    background-repeat: no-repeat;

}

.pic4 {

    width: 300px;
    width: 50%;
    height: 45%;
    border: 1px solid black;
    background-image: url(../../images/milk.png);
    background-repeat: no-repeat;    
}

td#four {
    width: 50%;
}

.pic5 {
    width: 50%;
    border: 1px solid black;
    background-image: url(../../images/pomegranate.png);
    background-repeat: no-repeat;

        
}

.but {
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: rgb(85, 133, 162);
    box-shadow: 2px 10px 9px;
}

td {

    border: 1px solid black;
    width: 100px;
}