.col-4 {
    flex: none;
}

.gallery {
    height: 100%;
    background-color: rgb(255, 233, 47);
}

p.gall {
    padding-top: 5px;
    width: 1100px;
    color: rgb(38, 38, 38);
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    text-align: center;
    margin-bottom: 32px;
}

p.text {
    padding-top: 10px;
    position: relative;
    left: 300px;
    width: 600px;
    color: rgb(38, 38, 38);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-bottom: 48px;
}

.tab1 {
    width: 1100px;
    height: 580px;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 16px;
}

.tab2 {
    width: 1100px;
    height: 450px;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 16px;
}

.pic1 {
    height: 55%;
    margin: 16px;
    padding: 16px;
    background-image: url(../../images/peach.png);
    background-repeat: no-repeat;
}

td#one {
    width: 60%;
}

.pic2 {
    margin: 16px;
    width: 30%;
    height: 30%;
    padding: 16px;
    background-image: url(../../images/sub-bg.jpg);
    background-repeat: no-repeat;
}

.pic3 {
    margin: 16px;
    height: 30%;
    padding: 16px;
    background-image: url(../../images/blackberries.png);
    background-repeat: no-repeat;
}

.pic4 {
    width: 300px;
    width: 50%;
    height: 45%;
    background-image: url(../../images/milk.png);
    background-repeat: no-repeat;    
}

td#four {
    width: 50%;
}

.pic5 {
    width: 50%;
    background-image: url(../../images/pomegranate.png);
    background-repeat: no-repeat;      
}

.but-gal {
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(85, 133, 162);
    padding: 16px 24px 16px 24px;
    position: relative;
    left: 320px;
    border: none;
}

td {
    width: 100px;
}