.one {
    margin-top: 240px;
    background-color: rgb(251, 251, 253);
}

.fresh {
    background-image: url(../../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: 340px;
    background-position-y: -90px;
    height: 800px;
    background-color: rgb(251, 251, 253);

}
    
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

.but {
    border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: rgb(255, 96, 51);
    box-shadow: 2px 10px 9px;
}
